* {
    box-sizing: border-box;
}

:root {
    --primary-color: #171100;
    --secondary-color: #ffb900;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
.content {
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    max-width: calc(100% - 48px);
}

a {
    text-decoration: none;
}

.btn {
    padding: 17px 24px;
    display: inline-block;
    min-width: 118px;
    background: var(--primary-color);
    text-align: center;
    color: #ffffff;
    border-radius: 25px;
}

.btn:hover {
    opacity: 0.9;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    background: var(--secondary-color);
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.title {
    color: var(--primary-color);
    font-family: Sen;
    font-weight: 700;
}

.title.lv1 {
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -1.16px;
}

.title.lv2 {
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.76px;
}

/* header */

.header {
    position: sticky;
    top: -28px;
    padding-top: 28px;
    background: #fffcf4;
    z-index: 1;
}

/* Navbar */
.navbar {
    margin-left: auto;
    padding: 8px 0;
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.navigation {
    display: flex;
    margin-right: 46px;
}

.navbar .click {
    padding: 8px 24px;
    color: #5f5b53;
}

.navbar .btn {
    margin-left: auto;
}

.navbar .click-active {
    padding: 8px 24px;
    position: relative;
    color: var(--primary-color);
    font-weight: 600;
}

.navbar .click-active::after {
    content: "";
    left: 25px;
    top: 27px;
    position: absolute;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: var(--primary-color);
}

.navbar .click:hover {
    text-shadow: 1px 0 0 currentColor;
    color: var(--primary-color);
}

.navbar .sign-up {
    min-width: 144px;
}

/* Hero */
.hero {
    padding-top: 44px;
    background: #fffcf4;
    height: calc(100vh - 94px);
}

.hero-body {
    display: flex;
}

.hero-image {
    position: relative;
    display: flex;
}

.hero-image .base {
    position: absolute;
    top: 393px;
    left: 300px;
    width: 270px;
    height: 244px;
    border-radius: 12px;
    background: #ffffff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero-image .media {
    border-radius: 20px;
    width: 470px;
    height: 685px;
    object-fit: cover;
}

.base .body {
    padding: 24px 0 24px 24px;
}

.base .row {
    display: flex;
    align-items: center;
}

.base .row:not(:first-child) {
    margin-top: 14px;
}

.base .img {
    display: flex;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.base .img img {
    margin: auto;
}

.base .desc {
    margin-left: 16px;
}

.base .desc .qty {
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 1.875;
}

.base .desc .name {
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.hero-text {
    padding: 64px 0 64px 230px;
}

.hero-text .desc {
    margin-top: 22px;
    color: #5f5b53;
    font-size: 1.8rem;
    line-height: 1.67;
}

.hero-text .row {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero-text .cousers {
    padding: 24px 0;
    border-radius: 32px;
    background: var(--secondary-color);
    min-width: 180px;
}

.hero-text .cousers:hover {
    background: var(--primary-color);
}

.hero-text .video {
    margin-left: 28px;
    display: flex;
    align-items: center;
    background: #fffcf4;
    border: none;
}

.hero-text .video:hover {
    width: 180px;
    height: 59px;
    background: #fff;
    border-radius: 32px;
    outline: 5px solid #fff;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.hero-text .video span {
    margin-left: 14px;
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.hero-text .play-video {
    display: flex;
    width: 40px;
    height: 40px;
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.05);
}

.hero-text .play-video img {
    margin: auto;
}

.hero-text .desc-2 {
    margin-top: 48px;
}

.hero-text .row-stats {
    margin-top: 8px;
}

.hero-text .stats:not(:first-child) {
    margin-left: 28px;
}

.hero-text .value {
    color: var(--primary-color);
    font-family: Sen;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.23;
}

.hero-text .text {
    margin-left: 14px;
    color: #5f5b53;
    font-size: 1.8rem;
    line-height: 30px;
}

/* Courses */
.courses {
    padding: 200px 0;
}

.courses .heading {
    display: flex;
    align-items: center;
}

.heading .desc {
    margin-top: 16px;
    width: 458px;
    color: #5f5b53;
    font-size: 1.8rem;
    line-height: 1.67;
}

.courses .chevron {
    margin-left: auto;
    display: flex;
}

.courses .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid var(--secondary-color);
    background: transparent;
    color: var(--secondary-color);
    cursor: pointer;
}

.courses .icon:hover {
    background: var(--secondary-color);
    color: #fff;
}

.courses .icon:first-child {
    margin-right: 18px;
}

.courses .list,
.blog-card {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.courses .card {
    flex: 1;
    border-radius: 12px;
    border: 1px solid #e2dfda;
}

.courses .card:hover {
    border: none;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.courses .photo,
.blog-base .photo {
    border-radius: 12px 12px 0 0;
    width: 100%;
    height: 278px;
    object-fit: cover;
}

.courses .body {
    padding: 16px 22px 22px;
}

.courses .row,
.courses .rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card .sub-title {
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.card .body img {
    margin-right: 6px;
}

.card .body .desc {
    margin-top: 6px;
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 1.86;
}

.card .row-bottom {
    margin-top: 12px;
}

.card .cta-btn {
    padding: 18px 24px;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
}

.card .value {
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

/* Feedback */

.feedback {
    background: #2e2100;
}

.feedback-body {
    padding: 96px 0px;
    display: flex;
    align-items: center;
}

/* Student */
.student .img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.student .name {
    margin-top: 18px;
    color: #f7f7f7;
    font-family: Sen;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.42;
    white-space: nowrap;
}

.student .desc {
    margin-top: 4px;
    color: #bfbcb2;
    font-size: 1.4rem;
    line-height: 1.86;
    white-space: nowrap;
}

/* Testimontial */
.testimonial {
    margin-left: 241px;
}

.testimonial .quot {
    margin-left: 30px;
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    line-height: 1.54;
}

/* Features */
.features {
    padding: 200px 0;
}

/* features-top */
.features-top {
    display: flex;
}

.features-top .images {
    display: flex;
    gap: 30px;
}

.features-top .photo {
    display: flex;
    width: 270px;
    height: 438px;
}

.features-top .photo-1 {
    align-items: flex-end;
}

.features-top img {
    border-radius: 16px;
    width: 100%;
    height: 404px;
    object-fit: cover;
}

.features-top .text {
    margin: 58px 0 58px 130px;
}

.features-top .desc {
    margin-top: 16px;
    color: #5f5b53;
    line-height: 1.75;
}

.features-top .btn,
.features-bottom .btn {
    margin-top: 32px;
    min-width: 137px;
    background: var(--secondary-color);
}

.features-top .btn:hover,
.features-bottom .btn:hover {
    background: var(--primary-color);
}

/* features-bottom */
.features-bottom {
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
}

.features-bottom .text {
    padding: 71px 0;
    width: 570px;
}

.features-bottom .desc {
    margin-top: 16px;
    color: #5f5b53;
    line-height: 1.75;
}

.features-bottom .images {
    width: 470px;
}

.features-bottom .img {
    border-radius: 20px;
    width: 100%;
    height: 440px;
    object-fit: cover;
}

/* Blog  */
.blog {
    padding: 96px 0;
    background: #fffcf4;
}

/* blog-text */
.blog-text {
    text-align: center;
}

.blog-text .desc {
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 448px;
    color: #696262;
    line-height: 1.75;
}

/* blog-card */
.blog-card {
    margin-top: 55px;
}

.blog-card .blog-base {
    border-radius: 16px;
    background: #fff;
    /* box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05); */
}

.blog-base .photo {
    border-radius: 16px 16px 0 0;
    height: 250px;
}

.blog-card .body {
    padding: 20px 20px 28px;
}

.blog-card .date {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    color: #5f5b53;
    line-height: 1.86;
}

.blog-card .date::before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background: var(--secondary-color);
}

.blog-card .date::after {
    content: "";
    position: absolute;
    bottom: -12px;
    width: 160px;
    height: 1px;
    border-radius: 0.5px;
    background: #e2dfda;
}

.blog-card .sub-title {
    margin-top: 25px;
    color: #171100;
    font-weight: 600;
    line-height: 1.75;
}

.blog-card .btn {
    margin-top: 12px;
    padding: 18px 21px;
    min-width: 118px;
    font-size: 14px;
}

.blog-card .blog-base:hover {
    box-shadow: 16px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

/* blog-dott */
.blog-dott {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    gap: 6px;
}

.blog-dott .item {
    border-radius: 6px;
    width: 6px;
    height: 6px;
    background: #5f5b53;
}

.blog-dott .item:nth-child(2) {
    background: #ffb900;
}

/* Footer */
.footer {
    padding: 96px 0 28px 0;
    background: #2e2100;
}

/* footer-top */
.footer-top {
    display: flex;
}

.footer-top .logo {
    color: #fff;
    font-family: Sen;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.42;
}

.footer-top .logo::after {
    content: "";
    display: inline-block;
    margin-left: 2px;
    border-radius: 4px;
    width: 4px;
    height: 4px;
    background: var(--secondary-color);
}

.footer-top .desc {
    margin-top: 18px;
    width: 267px;
    font-size: 1.4rem;
    color: #bfbcb2;
    line-height: 1.86;
}

.footer-top .icon {
    margin-top: 18px;
    display: flex;
    /* gap: 18px; */
}

.footer-top .icon .social {
    padding: 9px;
}

.footer-top .icon .social:hover {
    background: rgba(179, 177, 177, 0.1);
    border-radius: 5px;
}

.footer-top .company {
    margin-left: 145px;
}

.footer-top .support {
    margin-left: 178px;
}

.footer-top .address {
    margin-left: 130px;
}

.footer-top .sub-title {
    position: relative;
    color: #fff;
    font-weight: 600;
    line-height: 1.75;
}

.footer-top .sub-title::after {
    position: absolute;
    bottom: -14px;
    display: block;
    content: "";
    width: 130px;
    height: 1px;
    background: #59554b;
}

.footer-top .list {
    margin-top: 43px;
}

.footer-top .item {
    color: #bfbcb2;
    font-size: 1.4rem;
    line-height: 1.86;
    white-space: nowrap;
}

.footer-top .click:hover {
    text-shadow: 1px 0 0 currentColor;
    color: #bfbcb2;
}

.footer-top .item-1 {
    white-space: wrap;
}

.footer-top li:not(:first-child) {
    margin-top: 12px;
}

.footer-top strong {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.86;
}

/* footer-shape */
.footer-shape {
    margin-top: 38px;
    width: 100%;
    height: 1px;
    background: #59554b;
}

/* footer-bottom */
.footer-bottom {
    margin-top: 28px;
    text-align: center;
}

.footer-bottom .desc {
    color: #807d74;
    line-height: 1.86;
}
