* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
.content {
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    max-width: calc(100% - 48px);
}

a {
    text-decoration: none;
}

.btn {
    padding: 17px 24px;
    display: inline-block;
    min-width: 118px;
    background: #171100;
    text-align: center;
    color: #ffffff;
    border-radius: 25px;
}

/* header */

.header {
    position: sticky;
    top: -16px;
    padding-top: 16px;
    background: #fffcf4;
    z-index: 1;
}

/* Navbar */
.navbar {
    margin-left: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.navigation {
    display: flex;
    margin-right: 46px;
}

.navbar .click {
    padding: 8px 24px;
    /* background: red; */
    color: #5f5b53;
}

.navbar .btn {
    margin-left: auto;
}

.navbar .click-active {
    position: relative;
    color: #171100;
    font-weight: 600;
}

.navbar .click-active::after {
    content: "";
    left: 25px;
    top: 27px;
    position: absolute;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.navbar .click:hover {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.navbar .sign-up {
    min-width: 144px;
}

.navbar .sign-up:hover {
    opacity: 0.9;
}

/* Hero */
.hero {
    padding-top: 44px;
    background: #fffcf4;
    height: calc(100vh - 106px);
}

.hero-body {
    display: flex;
}

.hero-text {
    padding: 64px 0 64px 230px;
}

.hero-text .title {
    color: #171100;
    font-family: Sen;
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: -1.16px;
}

.hero-text .desc {
    margin-top: 22px;
    color: #5f5b53;
    font-size: 1.8rem;
    line-height: 1.67;
}
